/**** Define visibility hidden class for screen readers *****/
/* line 3, ../../scss/custom/custom.scss */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
