{% if page.description_url %}
<article class="engineer-project">
	<div class="clearfix">
		<div class="text-container left-resp">
			<h2>Past Projects</h2>
			<h3>
				<a href="{{ page.description_url }}">{{ page.description }}</a> <a href="{{ page.customer_url }}">({{ page.customer }})</a><span class="project-budget">{{ page.budget }}</span>
		{% else %}
			</h3>
				{{ page.description }} (<a href="{{ page.customer_url }}">{{ page.customer }}</a>)
		{% endif %}
			<h4>J.F.Shea Construction
				<span class="project-position">{{page.position}}</span>
				<span class="project-data">({{ page.start_year }} - {{page.end_year}})</span>
			</h4>