{% if page.description_url %}
	<h3>
		<a href="{{ page.description_url }}">{{ page.description }}</a> (<a href="{{ page.customer_url }}">{{ page.customer }}</a>)
{% else %}
	<h3>
		{{ page.description }} (<a href="{{ page.customer_url }}">{{ page.customer }}</a>)
{% endif %}
	<h4>J.F.Shea Construction
		<div class="project-position">{{page.position}}</div>
		<div class="project-data">{{ page.start_year }} - {{page.end_year}}</div>
{% if page.budget %}
		<div class="project-data">{{ page.budget }}</div>
{% endif %}
	</h4>