button {
	display: block;
	border-radius: $button-radius;
	min-height: em(36px);
	border-style: none;
	padding: $button-padding-vert $button-padding-horiz;
	cursor: pointer; 
	@extend %button-typography;
	&:focus {
		outline: none;
	}
}

/******** Temporarily replaced hr styles with '...' hr pseudo-element"


hr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    border: none;
	max-width: $max-hr-width;
	margin: rhythm(6) auto;
	@include breakpoint($large-phone) {
		margin: rhythm(6) auto rhythm(10) auto;
	}
}

.home-main {
	hr {
		@include hr-color($color: $home-color);
	}
}

.engineer-main {
	hr {
		@include hr-color($color: $engineer-color);
	}
}
************/

hr {
	border-width: 0px;
	width: 87px;
	margin: rhythm(6) auto;
	@include set-font-size(extra-large);
	letter-spacing: 0.9em;
	color: lighten(map-get($blue, lighter),20%);
}

hr:before {
	content: '...';
}


.engineer-main {
	ul {
		li {
			margin-top: rhythm(1);
		}
	}
}