button {
	border-radius: $button-radius;
	min-height: em(44px);
	border-style: none;
	padding: $button-padding-vert 0;
	cursor: pointer; 
	@extend %button-typography;
	&:focus {
		outline: none;
	}
}

hr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 1.4em 0;
    border: none;
}

.home-main {
	hr {
		@include hr-color($color: $home-color);
	}
}

.engineer-main {
	ul {
		li {
			margin-top: rhythm(1);
		}
	}
}