button {
	display: block;
	border-radius: $button-radius;
	min-height: em(36px);
	border-style: none;
	padding: $button-padding-vert $button-padding-horiz;
	cursor: pointer; 
	@extend %button-typography;
	&:focus {
		outline: none;
	}
}

hr {
	border-width: 0px;
	width: 100px;
	margin: rhythm(3) auto;
	@include set-font-size(extra-large);
	letter-spacing: 0.9em;
	color: lighten(map-get($blue, lighter),20%);
}

hr:before {
	content: '...';
	display: block;
	text-align: center;
}
