//include border-box-sizing mixin

@include border-box-sizing;


@function em($target, $context: $base-font-size){
	@return 1em * $target/$context;
};

@mixin set-font-size($size: normal) {
    $font-size: map-get($font-sizes, $size);
	@include adjust-font-size-to($font-size);
}

@mixin button-color($color: $primary-button-color) {
	background-color: $color;
	color: lighten($color, 50%);
	transition: background-color 0.4s ease;
	&:hover, &:focus {
		background-color: darken($color, 10%);
	}
	&:active {
		background-color: darken($color, 20%);
	}
}

@function set-text-color($background-color) {
  @if (lightness($background-color) > 50) {
    @return $text-color;
  } @else {
    @return $alt-text-color;
  }
}

@mixin hr-color($color: $home-color, $background: $background-color) {
    background-color: map-get($color, normal);
	background-image: linear-gradient(
		to right,
		$background 0%,
		map-get($color, lighter) 40%,
		map-get($color, lighter) 60%,
		$background 100%);
}

@mixin background-gradient(
	$color: $home-nav-background, 
	$total-columns: 12,
	$small-screen-gradient-width-columns: 4,
	$nav-max-width: $nav-max-width,
	$nav-picture-width: $nav-picture-width,
	$transparency: 0.55
	) {
	background: linear-gradient(
		to right,
		rgba($color, 1),
		rgba($color, $transparency) 50%, 
		rgba($color, 1) 100%);
	@include breakpoint($nav-max-width) {
		background: linear-gradient(
			to right,
			rgba($color, 1) calc( (100% - #{$nav-picture-width})/2 + 150px),
			rgba($color, $transparency) calc( (100% - #{$nav-picture-width})/2 + 400px), 
			rgba($color, $transparency) calc( 100% - (100% - #{$nav-picture-width})/2 - 400px), 
			rgba($color, 1) calc( 100% - (100% - #{$nav-picture-width})/2 - 150px));
		}
	}