//include border-box-sizing mixin

@include border-box-sizing;


@function em($target, $context: $base-font-size){
	@return 1em * $target/$context;
};

@mixin set-font-size($size: normal) {
    $font-size: map-get($font-sizes, $size);
	@include adjust-font-size-to($font-size);
}

@mixin button-color($color: $primary-button-color) {
	background-color: $color;
	color: lighten($color, 40%);
	transition: background-color 0.4s ease;
	&:hover, &:focus {
		background-color: darken($color, 10%);
	}
	&:active {
		background-color: darken($color, 20%);
	}
}

@function set-text-color($background-color) {
  @if (lightness($background-color) > 50) {
    @return $text-color;
  } @else {
    @return $alt-text-color;
  }
}