#main {
    padding: 0 $body-padding;
}


#wrapper {
	@include container($max-width);
	position:relative;
}

svg {
	width: $social-icon-size;
	height: $social-icon-size;
	stroke: $alt-text-color;
	fill: $alt-text-color;
	position: relative;
	top: 6px;
}

.nav-social {
	ul {
		display: relative;
	}
	li {
		@include clearfix;
		width: 200px;
		margin-left: 34%;
		span {
			display: block;
			float: left;
		}
		.username {
			margin-left: em(10px);
		}
	}
	
}

/********* 
pictures layout
*********/

img {
	max-width: $max-width;
}

section {
	img.full-width {
		width: span(12);
		margin-top: rhythm(2);
	}
}

/********* 
engineer layout
*********/


