body {
	@include container($max-width);
	position:relative;
}

main {
    padding: 0 $body-padding;
	@include breakpoint($large-phone) {
		 padding: 0 2*$body-padding;
	}
	
}

svg {
	width: $social-icon-size;
	height: $social-icon-size;
	stroke: $alt-text-color;
	fill: $alt-text-color;
	position: relative;
	top: 6px;
}

.nav-social {
	ul {
		display: relative;
	}//ul
	li {
		@include clearfix;
		width: 200px;
		margin-left: span(5);
		span {
			display: block;
			float: left;
		}//span
		.username {
			margin-left: em(10px);
		}//username
	}//li
}//.nav-social

nav {
	background: url(../images/background.jpg) repeat;
	background-size: cover;
	background-position: center center;
	@include breakpoint($nav-picture-width) {
		background-size: auto auto;
	}//media query
}//.nav

.nav-outer-wrapper {
	padding: rhythm(2) $body-padding;
	position: relative;
	z-index: 1;
	@include background-gradient();
}

.engineer {
	.nav-outer-wrapper {
		@include background-gradient($color: $engineer-nav-background);
	}
}

.nav-wrapper {
 	max-width: $nav-max-width;
	margin: 0 auto;
}

.home-post {
	max-width: $max-text-width;
	margin: 0 auto;
}

/********* 
pictures layout
*********/

img {
	max-width: $max-width;
}

article {
	img.full-width {
		width: span(12);
		margin-top: rhythm(3);
	}
}

