/********* 
Nav bar and off canvas navigation
Start setting .container with n=hidden overflow
*********/

.container {
	overflow: hidden; 
	@include container($max-width);
}

/********* 
Large screen navigation styles
*********/

.top-bar {
	@include clearfix;
	.nav-links {
		float:right;
		@include clearfix;
		li {
			padding: em(15px);
			float:left;
			@include gutter($nav-bar-gutter);
			a {
				margin:0 auto;
				text-align:center;
			}//a
		}//li
		li:last-child{
			margin-right: 0;
		};
	}//.nav-links
}//.nav

.menu-toggle {
	display:none;
}

/********* 
Use off-canvas side navigation for smaller screens 
and CSS transitions enabled browsers
*********/

.js.csstransforms {
	@include breakpoint($break-nav){
		.top-bar {
			position: absolute;
			width: $off-canvas-width;
			left: (-1)*$off-canvas-width;
			top: 0;
			bottom: 0;
		}//.menu
		.transformer{
			@include transition(transform, 0.5s, ease-in-out);
			@include translateX(0, $perspective);
			&.is-open{
				@include transition(transform, 0.5s, ease-in-out);
				@include translateX($off-canvas-width, $perspective);
				//@include translate3d($off-canvas-width, 0, 0, $perspective);
			}//.transformer.is-open
		}//transformer
		.nav-links {
			float:none;
			li {
				float:none;
			}//li
		}//.navlinks
		.menu-toggle {
			display:inline-block;
		}//menu-toggle
	}//breakpoint
}//js





	
