/********* 
Nav bar and off canvas navigation
Start setting .container with hidden overflow
*********/

body {
	overflow: hidden; 
	@include container($max-width);
}

/********* 
Large screen navigation styles
*********/

.top-bar {
	@include clearfix;
	.nav-links {
		float:right;
		@include clearfix;
		li {
			padding: em(15px);
			float:left;
			@include gutter($nav-bar-gutter);
			a {
				margin:0 auto;
				text-align:center;
			}//a
		}//li
		li:last-child{
			margin-right: 0;
		};
	}//.nav-links
}//.nav

.menu-toggle {
	display:none;
}

/********* 
Use off-canvas side navigation for smaller screens 
and CSS transitions enabled browsers
*********/

.js.csstransforms {
	@include breakpoint($break-nav){
		.top-bar {
			position: absolute;
			width: $off-canvas-width;
			left: (-1)*$off-canvas-width;//position off-canvas menu out of screen
			top: 0;
			bottom: 0;
			@include transition(transform, 0.5s, ease-in-out);
			&.is-open {
				@include translateX($off-canvas-width, $perspective);
			}//slide off-canvas menu open when menu is toggled
		}//.top-bar
		.main {
			@include transition(transform, 0.5s, ease-in-out);
			&.is-open{
				@include translateX($off-canvas-width, $perspective);
			}//slide main content along with menu
		}//.main
		.nav-links {
			float:none;
			li {
				float:none;
			}//li
		}//.navlinks
		.menu-toggle {
			display:inline-block;
		}//menu-toggle
	}//breakpoint
}//js





	
