body {
	position: relative;
	background-color: $background-color;
	margin: 0 auto;
}



/********* 
NAV STYLES
*********/

	nav {
		background: url(../images/background.jpg) repeat;
		background-size: cover;
		background-position: 30%;
		@include breakpoint($nav-picture-width) {
			background-size: auto auto;
			background-position: center;
		}//media query
	}//.nav

	.nav-outer-wrapper {
		padding: rhythm(2) $body-padding;
		position: relative;
		z-index: 1;
		@include background-gradient();
	}

	.engineer {
		.nav-outer-wrapper {
			@include background-gradient($color: $engineer-nav-background-gradient);
		}
	}

	.backgroundblendmode {
		nav {
			background-color: $home-nav-background;
			background-blend-mode: lighten;
			background-blend-mode: luminosity;
		}
		.engineer {
			nav {
				background-color: $engineer-nav-background;
			}
		}
	}

	.nav-wrapper {
	 	max-width: $nav-max-width;
		margin: 0 auto;
	}

	.nav-social {
		ul {
			position: relative;
		}//ul
		li {
			@include clearfix;
			margin-left: span(4);
			@include breakpoint($large-phone) {
				margin-left: span(5);
			}
			span {
				display: block;
				float: left;
			}//span
			.username {
				margin-left: em(10px);
			}//username
		}//li
	}//.nav-social

	svg {
		width: $social-icon-size;
		height: $social-icon-size;
		//stroke: $alt-text-color;
		fill: $alt-text-color;
		position: relative;
		top: 5px;
	}

/********* 
END NAV STYLES
*********/

/********* 
PADDING
	
Define padding using the resp-horiz-padding mixin. By avoiding application
of padding to one container element, other elements, such as images, can 
extend to edge of window.
Padding controls left margin for small screens. For larger screens, left 
margins are set elsewhere.
.read-more-button padding has to be set using margin rules and has to clear 
float of the previous elements
*********/


	.home-main {
		@include resp-horiz-padding($breakpoint-1: $max-header-width + 100px);
	}

	.engineer-main {
		header, .text-container, figcaption {
			@include resp-horiz-padding($breakpoint-1: $max-header-width + 100px);
		}
	}

	.read-more {
		@include resp-horiz-padding();	
	}

	.read-more-button {
		margin-left: $body-padding;
	}

/********* 
END PADDING
*********/

/********* 
MAXIMUM WIDTHS
*********/

	.container, .home-post {
		@include container($max-width);
		margin-left: auto;
		margin-right: auto;
	}

	/********* 
	header (meant for engineer page): set maximum width
	*********/

	header { 
		@include container($max-header-width);
		//margin-left: auto;
		//margin-right: auto;
	}

	/********* 
	.text-container class controls maximum text width for articles
	in engineer page, while letting images have a longer width
	.text-container 
	*********/

	.text-container {
		max-width: $max-text-width;
		p, h3, h4 {
			@include breakpoint($max-header-width) {
				margin-left: span(1);
			}
		}
	}

	/********* 
	set .home-post width
	*********/

	.home-post {
		max-width: $max-text-width;
		margin: 0 auto;
	}

/********* 
END MAXIMUM WIDTHS
*********/

/********* 
RESPONSIVE LEFT MARGINS
	
Set margins for header element, .text-container class and .read-more-button.
The goal is to have the left-margin of these sets of elements be aligned
Left margin starts at 0, increases to one column, then to two columns
*********/

	header, .text-container, .read-more-button {
		@include breakpoint($max-text-width + 100px) {
			margin-left: span(1);
		}	
		@include breakpoint($max-text-width + 300px) {
			margin-left: span(2);
		}
		@include breakpoint($desktop) {
			margin-left: span(3);
		}
	}

	figcaption {
		@include breakpoint($max-header-width + 100px) {
			margin-left: span(1);
		}	
	}

	#main {
		ul {
			margin-left: span(1);
			@include breakpoint($max-header-width) {
				margin-left: span(2);
			}
		}
	}

/********* 
END RESPONSIVE LEFT-MARGINS
*********/

/********* 
RESPONSIVE FLOATED TWO COLUMN LAYOUT
	
set styles for .text-container and figure inside of .engineer-project
class to float text to the left and images to the right. 
Use resp-float mixin to float element responsively at a given breakpoint
*********/

	.engineer-project {
		.text-container {
			@include resp-float($float: left);
		}
		figure {
			@include resp-float($float: right);
		}
	/** max-width of floated images has to be limited to 100% of its column **/
		img {
			max-width: span(12);
		}
		.read-more-button {
			@include breakpoint($laptop) {
				clear: both;
				margin-top: rhythm(5);
				margin-left: gutter(24) + span(1 of 24);
			}
		}
	}//.engineer-project
	
	.engineer-interests {
		@include resp-float($float: left);
	}
	
	.engineer-education {
		@include resp-float($float: right);
		@include breakpoint($laptop) {
			margin-left: gutter(12);
		}
		@include breakpoint($large-desktop) { 
			float: left;
			margin-left: span(2);
		}
	}

/********* 
END RESPONSIVE FLOATED TWO COLUMN LAYOUT
*********/


/********* 
PICTURES LAYOUT
*********/

	figure {
		margin-top: rhythm(3);
		@include breakpoint($laptop) {
			margin-top: rhythm(6);
		}
		margin-left: auto;
		margin-right: auto;
	}

	.full-width {
		max-width: $max-picture-width;
	}

/********* 
END PICTURES LAYOUT
*********/
	
/********* 
READ MORE COLUMN LAYOUT
First, set maximum width for browsers that don't support the CSS column property. This value gets
overridden for browsers supporting CSS column
Default read-more layout is three columns wide. However, areas with shorter read-more sections
add a class columns-2 which reduces the width down to two columns
*********/

	.read-more {
		p, h5 {
			max-width: $max-read-more-column-width;
		} 
	}

	.csscolumns {
		p, h5 {
			max-width: $max-read-more-column-width;
		} 
		.read-more-inner {
			columns: 3 $min-read-more-column-width;
			column-gap: 1em;
		}
		.columns-2 {
			columns: 2 $min-read-more-column-width;
			column-gap: 1em;
			max-width: 2 * $max-read-more-column-width - 5em;
		}
	}//.csscolumns
	
/********* 
END READ MORE COLUMN LAYOUT
*********/