body {
	@include container($max-width);
	position: relative;
}

/********* 
Nav styles
*********/

nav {
	background: url(../images/background.jpg) repeat;
	background-size: cover;
	background-position: center center;
	@include breakpoint($nav-picture-width) {
		background-size: auto auto;
	}//media query
}//.nav

.nav-outer-wrapper {
	padding: rhythm(2) $body-padding;
	position: relative;
	z-index: 1;
	@include background-gradient();
}

.engineer {
	.nav-outer-wrapper {
		@include background-gradient($color: $engineer-nav-background);
	}
}

.nav-wrapper {
 	max-width: $nav-max-width;
	margin: 0 auto;
}

.nav-social {
	ul {
		display: relative;
	}//ul
	li {
		@include clearfix;
		width: 200px;
		margin-left: span(5);
		span {
			display: block;
			float: left;
		}//span
		.username {
			margin-left: em(10px);
		}//username
	}//li
}//.nav-social

svg {
	width: $social-icon-size;
	height: $social-icon-size;
	stroke: $alt-text-color;
	fill: $alt-text-color;
	position: relative;
	top: 6px;
}

/********* 
End nav styles
*********/

/********* 
Define padding using the resp-horiz-padding mixin. By avoiding application
of padding to one container element, other elements, such as images, can 
extend to edge of window.
Padding controls left margin for small screens. For larger screens, left 
margins are set elsewhere.
Button padding has to be set using margin rules
*********/


.home-main {
	@include resp-horiz-padding($breakpoint-1: $max-header-width);
}

.engineer-main {
	header, .text-container, figcaption {
		@include resp-horiz-padding($breakpoint-1: $max-header-width);
	}
}

.read-more {
	@include resp-horiz-padding();
	margin-left: $body-padding;
	margin-right: $body-padding;
	
}

.read-more-button {
	margin-left: $body-padding;
}

/********* 
End padding
*********/


/********* 
header (meant for engineer page): set maximum width
*********/

header { 
	max-width: $max-header-width;
}

/********* 
Set margins for header element, .text-container class and .read-more-button.
The goal is to have the left-margin of these two sets of elements be aligned
Left margin starts at 0, increases to one column, then to two columns
*********/

header, .text-container, .read-more-button {
	@include breakpoint($max-header-width) {
		margin-left: span(1);
	}	
	@include breakpoint($laptop) {
		margin-left: span(2);
	}
}

figcaption {
	@include breakpoint($max-header-width) {
		margin-left: span(1);
	}	
}

.home-post {
	max-width: $max-text-width;
	margin: 0 auto;
}

/********* 
.text-container class controls maximum text width for articles
in engineer page, while letting images have a longer width
.text-container 
*********/

.text-container {
	max-width: $max-text-width;
	p, h3, h4 {
		@include breakpoint($max-header-width) {
			margin-left: span(1);
		}
	}
}

/********* 
pictures layout
*********/

img {
	max-width: $max-width;
}

article {
	img.full-width {
		width: span(12);
		margin-top: rhythm(3);
	}
}

