#main {
    padding: 0 $body-padding;
}

/********* 
Nav bar and off canvas navigation
Start setting .outer-wrapper with hidden overflow
*********/

.outer-wrapper {
	overflow-x: hidden; 
}

#wrapper {
	@include container($max-width);
	position:relative;
}

.head-shot {
	max-width: 200px;
	border-radius: 50%;
	display: block;
	margin: rhythm(3) auto;
}

svg {
	width: $social-icon-size;
	height: $social-icon-size;
	stroke: $alt-text-color;
	fill: $alt-text-color;
	position: relative;
	top: 6px;
}

.nav-social {
	ul {
		display: relative;
	}
	li {
		@include clearfix;
		width: 200px;
		margin-left: 38%;
		span {
			display: block;
			float: left;
		}
		.username {
			margin-left: em(10px);
			&:first-of-type {
				margin-left: $social-icon-size + em(10px);
			}
		}
	}
	
}

#menu-toggle {
	display:none;
	position: absolute;
	top: rhythm(1);
	right:0;
	padding-right: em(10px);
}

#menu-close {
	position: absolute;
	top: rhythm(1);
	right:0;
	padding-right: em(10px);
}

/********* 
Use off-canvas side navigation for smaller screens 
and CSS transitions enabled browsers
*********/

.js.csstransforms3d {
	@include breakpoint($break-nav){
		#wrapper {
			transition: transform 0.4s ease-in-out;
			@include translate3d(0, 0, 0);
			&.is-open {
				@include translate3d((-1)*$off-canvas-width, 0, 0);
			}//slide wrapper div to the left when menu is toggled
		}//#wrapper
		.nav-resp {
			position: absolute;
			width: $off-canvas-width;
			left: 100%;//position off-canvas menu out of screen
			top: 0;
			bottom: 0;
		}//#top-bar-resp
	}//breakpoint
}//js

/********* 
pictures layout
*********/

img {
	max-width: $max-width;
}

section {
	img.full-width {
		width: span(12);
		margin-top: rhythm(2);
	}
}

/********* 
engineer layout
*********/


