#main {
    padding: 0 $body-padding;
}


/********* 
Nav bar and off canvas navigation
Start setting .outer-wrapper with hidden overflow
*********/

.outer-wrapper {
	overflow-x: hidden; 
}

#wrapper {
	@include container($max-width);
	position:relative;
}

/********* 
Large screen navigation styles
*********/

#top-bar {
	@include clearfix;
}//#top-bar

.nav-links {
	float:right;
	@include clearfix;
	li {
		padding: em(15px);
		float:left;
		@include gutter($nav-bar-gutter);
		a {
			margin:0 auto;
			text-align:center;
		}//a
	}//li
	li:last-child{
		margin-right: 0;
	};
}//.nav-links

#menu-toggle {
	display:none;
	position: absolute;
	top: rhythm(1);
	right:0;
	padding-right: em(10px);
}

/********* 
Use off-canvas side navigation for smaller screens 
and CSS transitions enabled browsers
*********/

.js.csstransforms {
	@include breakpoint($break-nav){
		#wrapper {
			@include transition(transform, 0.5s, ease-in-out);
			&.is-open {
				@include translateX((-1)*$off-canvas-width, $perspective);
			}//slide wrapper div to the left when menu is toggled
		}//#wrapper
		.top-bar-resp {
			position: absolute;
			width: $off-canvas-width;
			left: 100%;//position off-canvas menu out of screen
			top: 0;
			bottom: 0;
		}//#top-bar-resp
		.nav-links-resp {
			float:none;
			li {
				float:none;
			}//li
		}//.navlinks
	}//breakpoint
}//js

/********* 
pictures layout
*********/

img {
	max-width: $max-width;
}


/********* 
engineer layout
*********/


