//Susy layout

$susy: (
	   columns: 12,
	   gutters: .25,
	   global-box-sizing: border-box
       );

//Susy max-width

$max-width: em(1200px);

//Navigation 

$off-canvas-width: em(200px);
$perspective: 750;//perspective for compass 3D translations
$social-icon-size: em(20px);

//Padding

$body-padding: em(15px);


//Typography

$base-font-family: "garamond-premier-pro";
$secondary-font-family: "open-sans";

// Vertical rhythm

$base-font-size: 18px;
$base-line-height: 8px;

//Modular scale parameters

$ms-base: $base-font-size;
$ms-ratio: $minor-third;

$round-to-nearest-half-line: true; 

$font-sizes: (
             huge-4: round(ms(7)),
			 huge-3: round(ms(6)),
			 huge-2: round(ms(5)),
			 huge-1: round(ms(4)),
			 extra-large: round(ms(3)),
			 large: round(ms(2)),
			 medium: round(ms(1)),
			 normal: round(ms(0)),
			 small: round(ms(-1)),
			 smaller: round(ms(-2)),
			 tiny: round(ms(-3))
             );

 $font-weights: (
                extra-light: 200,
 			   light: 300,
 			   normal: 400, 
 			   medium: 500, 
 			   semibold: 600, 
 			   bold: 700
 			   );

//Color palette
$background-color: #fff;
$text-color: #222;
$nav-background: darken(#085e5e, 8%);
$alt-text-color: #ffffff;
$link-color: #2455c3;
$link-hover-color: lighten($link-color, 10%);
$link-active-color: lighten($link-color, 20%);
$main-color: #df4747;
//http://paletton.com/#uid=3000u0klPr+chGNhBvMqpoHtfj-
$second-color: #2b8686;
$third-color: #a1d042;
$primary-button-color: #5cb85c;



//Button styles
$button-radius: em(10px);
$button-padding-vert: rhythm(1);

//Breakpoints

$break-nav: max-width em(800px);


//$spacing-unit		:	30px;
//$text-color			:	#111;
//$background-color	: 	#fdfdfd;
//$brand-color		:	#2a7ae2;
//$grey-color			:	#828282;
//$grey-color-light	: 	lighten($grey-color, 40%);
//$grey-color-dark	:  	darken($grey-color, 25%);
