// import establish baseline mixin

@include establish-baseline;

/********* 
Typographic style of major html elements
Include vertical rhythm layout
*********/

body {
    font-size: $base-font-size;
	font-family: $base-font-family;
	@include adjust-leading-to(3);
	color: $text-color;
}

header {
	padding-top: rhythm(0);
}

nav {
	@extend %nav-color;
	ul {
		font-family: $secondary-font-family;
		font-weight: map-get($font-weights, light);
	}//ul
	.main-nav {
		margin-left: span(1);
		li {
			@include set-font-size(normal);
		}//li
	}//.main-nav
	.nav-social {
		@include set-font-size(tiny);
		margin-top: rhythm(20);
	}//.nav-social
}

.engineer {
	nav {
		background-color: $engineer-nav-background;
	}
}

main {
	margin-bottom: rhythm(10);
	h1 {
	@include set-font-size(huge-2);
	font-family: $base-font-family;
	margin-top: rhythm(1);
		@include breakpoint ($large-phone) {
			@include set-font-size(huge-4);
		}//media query
	}//h1
}//main

.home-main {
	h1 {
		color: map-get($home-color, normal);
		@include breakpoint ($max-text-width + 200px) {
			margin-left: calc(50% - (#{$max-text-width}/2 + #{span(1)}));
		}//media query
	}//h1
}//.home-main

.engineer-main {
	h1 {
		color: map-get($engineer-color, normal);
		text-transform: uppercase;
	}//h1
	article, section {
		margin-top: rhythm(6);
	}//article, section
}//.engineer-main

.home-main {
	article:first-of-type {
		margin-top: rhythm(4);
			@include breakpoint ($large-phone) {
				margin-top: rhythm(6);
			}
	}
}

header {
	p {
		font-family: $secondary-font-family;
		@include set-font-size(medium);
		font-weight: map-get($font-weights, light);
		margin-top: rhythm(1);
		@include breakpoint($large-phone) {
			@include set-font-size(large);
		}
	}
}

h2 {
	text-transform: uppercase;
	@include set-font-size(medium);
	font-weight: map-get($font-weights, semibold);
	@include breakpoint ($large-phone) {
		@include set-font-size(large);
	}
}

h3 {
	@include set-font-size(normal);
	text-transform: capitalize;
	margin-top: rhythm(1);	
	color: $text-color;
}

.project-budget {
	&::before {
		content: " \2013  ";
	}
}

h4 {
	@include set-font-size(normal);
	margin-top: rhythm(1);
	.project-position {
		display: inline;
		&::before {
			content: " \2013  ";
		}//:before
	}//project-position
}//h4

.project-data {
	@include set-font-size(smaller);
	color: $text-color;
	&::before {
		content: '\00a0 \00a0 \00a0 \00a0';
	}//:before
}//.project-data

h5 {
	text-transform: uppercase;
	@include set-font-size(small);
	margin-top: rhythm(3);
	font-weight: map-get($font-weights, semibold);
	@include breakpoint($large-phone) {
		@include set-font-size(normal);
	}
	
}

p {
	font-size: map-get($font-sizes, normal);
	margin-top: rhythm(2);
}

.engineer-main {
	p {
		//font-size: map-get($font-sizes, small);
		//margin-top: rhythm(2);
	}
}

figcaption {
	font-family: $secondary-font-family;
	@include set-font-size(tiny);
	color: lighten($text-color, 20%);
	margin-top: rhythm(-1);
	
}

/********* 
a styles. Sets link colors and includes a Medium style  
underline function
*********/

a {
	color: $link-color;
	text-decoration: none;
	@include underline($background-color, $link-color, true, 1, 1.3);
	transition: color 0.4s ease;
	&:hover, &:focus {
		color: $link-hover-color;
	}//:hover, :focus
	&:active {
		color: $link-active-color;
	}//:active
}//a

%nav-color {
	color: set-text-color($home-nav-background);
	a {
		color: inherit;
		@include underline($home-nav-background, $alt-text-color, true, 1.2, 0.8);
		&:hover, &:focus {
			color: darken(set-text-color($home-nav-background), 10%);
		}//:hover, :focus
		&:active {
			color: darken(set-text-color($home-nav-background), 20%);
		}//:active
	}//a
}//nav-color

%button-typography {
	font-family: $secondary-font-family;
	@include set-font-size(normal);
	font-weight: map-get($font-weights, normal);
}

.read-more {
	background-color: $read-more-background-color;
	margin-top: rhythm(4);
	padding: rhythm(2) $body-padding rhythm(5) $body-padding;
	border-radius: $button-radius;
}

/********* 
underline for read-more area has to be modified due to
different background color
*********/

.read-more {
	a {
		@include underline( $read-more-background-color, $link-color, true, 1, 1.3);
	}
}

.read-more-button {
	width: $read-more-button-width;
	margin-top: rhythm(3);
	@include button-color($primary-button-color);
}

#main {
	ul {
		list-style: disc;
		margin-top: rhythm(2);
		li {
			margin-top: rhythm(2);
		}//li
	}//ul
}//#main



