// import establish baseline mixin

@include establish-baseline;

/********* 
Typographic style of major html elements
Include vertical rhythm layout
*********/

body {
    font-size: $base-font-size;
	font-family: $base-font-family;
	@include adjust-leading-to(3);
	color: $text-color;
}

header {
	padding-top: rhythm(0);
	h1 {
		font-family: $base-font-family;
		@include set-font-size(huge-2);
		font-weight: map-get($font-weights, bold);
		text-transform: uppercase;
		color: $main-color;
	}//h1
	p{
		font-family: $secondary-font-family;
		@include set-font-size(medium);
		font-weight: map-get($font-weights, light);
		margin-top: rhythm(0);
	}
}//header

h2, h5 {
	text-transform: uppercase;
	@include set-font-size(medium);
}

h3 {
	@include set-font-size(medium);
	text-transform: capitalize;
	margin-top: rhythm(1);	
	color: $text-color;
}

h4 {
	@include set-font-size(normal);
	margin-top: rhythm(1);
	.project-position {
		color: darken($main-color, 15%);
		font-weight: map-get($font-weights, bold);
	}
	.project-data {
		font-weight: map-get($font-weights, normal);
		font-style: italic;
		color: $text-color;
	}
	
}

h5 {
	@include set-font-size(small);
	margin-top: rhythm(2);
	
}

section {
	margin-top: rhythm(3);
}

p {
	margin-top: rhythm(1);
}

figcaption {
	font-family: $secondary-font-family;
	@include set-font-size(tiny);
	color: lighten($text-color, 20%);
	margin-top: rhythm(-1);
	
}

button {
	font-family: $secondary-font-family;
	@include set-font-size(normal);
	font-weight: map-get($font-weights, normal);
}

.read-more-button {
	width: 100%;
	margin-right: 0;
	margin-top: rhythm(2);
	@include button-color($primary-button-color);
	margin-right: 0;
}


