// import establish baseline mixin

@include establish-baseline;

/********* 
Typographic style of major html elements
Include vertical rhythm layout
*********/

body {
    font-size: $base-font-size;
	font-family: $base-font-family;
	@include adjust-leading-to(3);
	color: $text-color;
}

header {
	padding-top: rhythm(0);
	h1 {
		font-family: $secondary-font-family;
		@include set-font-size(medium);
		text-transform: uppercase;
		font-weight: 500;
		span {
			font-family: $base-font-family;
			@include set-font-size(huge-2);
			color: $main-color;
			font-weight: bold;
		}
	}//h1
	p {
		@include set-font-size(normal);
		font-family: $secondary-font-family;
		font-weight: 300;
		margin-top: rhythm(1);
	}//p
}//header

h2, h4 {
	text-transform: uppercase;
	font-weight: 500;
	color: darken($main-color, 20%);
}

h2 {
	@include set-font-size(medium);
}

h3 {
	@include set-font-size(normal);
	margin-top: rhythm(1);
	font-weight: bold;
	span {
		display:block;
		font-weight: normal;
	}
	
}

h4 {
	@include set-font-size(small);
	margin-top: rhythm(2);
	
}

section {
	margin-top: rhythm(3);
}

p {
	margin-top: rhythm(1);
}


