// import establish baseline mixin

@include establish-baseline;

/********* 
Typographic style of major html elements
Include vertical rhythm layout
*********/

body {
    font-size: $base-font-size;
	font-family: $base-font-family;
	@include adjust-leading-to(3);
	color: $text-color;
}

header {
	padding-top: rhythm(0);
}//header

nav {
	padding: rhythm(2) $body-padding;
	@extend %nav-color;
	background: linear-gradient(
		rgba($nav-background, 0.55), 
		rgba($nav-background, 0.80) 375px,
	    rgba($nav-background, 1) 395px),
	    url(../images/background.jpg) no-repeat;
	ul {
		font-family: $secondary-font-family;
		font-weight: map-get($font-weights, light);
	}
	.nav-links {
		li {
			@include set-font-size(medium);
		}
	}
	.nav-social {
		@include set-font-size(smaller);
		margin-top: rhythm(20);
	}
}

.engineer {
	nav {
		background: linear-gradient(
			rgba($engineer-nav-background, 0.55), 
			rgba($engineer-nav-background, 0.80) 375px,
		    rgba($engineer-nav-background, 1) 395px),
		    url(../images/background.jpg) no-repeat;
	}
}


main {
	h1 {
	@include set-font-size(huge-3);
	font-family: $base-font-family;
	margin-top: rhythm(1);
	}
}

.home-main {
	h1 {
		color: map-get($home-color, normal);
	}
}

.engineer-main {
	h1 {
		color: map-get($engineer-color, normal);
		text-transform: uppercase;
	}
}

header {
	p {
		font-family: $secondary-font-family;
		@include set-font-size(medium);
		font-weight: map-get($font-weights, light);
		margin-top: rhythm(1);
	}
}

h2, h5 {
	text-transform: uppercase;
	@include set-font-size(medium);
}

h3 {
	@include set-font-size(medium);
	text-transform: capitalize;
	margin-top: rhythm(1);	
	color: $text-color;
}

h4 {
	@include set-font-size(normal);
	margin-top: rhythm(1);
	.project-position {
		color: darken(map-get($engineer-color, normal), 15%);
		font-weight: map-get($font-weights, bold);
	}
	.project-data {
		font-weight: map-get($font-weights, normal);
		font-style: italic;
		color: $text-color;
	}
	
}

h5 {
	@include set-font-size(small);
	margin-top: rhythm(2);
	
}

section {
	margin-top: rhythm(3);
}

p {
	margin-top: rhythm(1);
}

.home {
	article:first-of-type {
		margin-top: rhythm(3);
	}
	hr {
		margin-top: rhythm(4);
	}
}

.home-post {
	p {
		font-size: map-get($font-sizes, medium);
		margin-bottom: rhythm(2);
	}
}

figcaption {
	font-family: $secondary-font-family;
	@include set-font-size(tiny);
	color: lighten($text-color, 20%);
	margin-top: rhythm(-1);
	
}

a {
	color: $link-color;
	text-decoration: none;
	@include underline($background-color, $link-color, true, 1, 1.3);
	transition: color 0.4s ease;
	&:hover, &:focus {
		color: $link-hover-color;
	}
	&:active {
		color: $link-active-color;
	}
}


%nav-color {
	background-color: $nav-background;
	color: set-text-color($nav-background);
	a {
		color: inherit;
		@include underline($nav-background, $alt-text-color, true, 1.2, 0.8);
		&:hover, &:focus {
			color: darken(set-text-color($nav-background), 10%);
		}
		&:active {
			color: darken(set-text-color($nav-background), 20%);
		}
	}
}

%button-typography {
	font-family: $secondary-font-family;
	@include set-font-size(normal);
	font-weight: map-get($font-weights, normal);
}

.read-more-button {
	width: 100%;
	margin-right: 0;
	margin-top: rhythm(2);
	@include button-color($primary-button-color);
	margin-right: 0;
}



