/********* 
IMPORT ESTABLISH BASELINE MIXIN from Compass 
to establish vertical rhythm
*********/

	@include establish-baseline;

/********* 
TYPOGRAPHIC STYLES AND VERTICAL RHYTHMS OF MAJOR PAGE COMPONENTS
*********/

	body {
	    font-size: $base-font-size;
		font-family: $base-font-family;
		@include adjust-leading-to(3);
		color: $text-color;
	}

	nav {
		@extend %nav-color;
		ul {
			font-family: $secondary-font-family;
			font-weight: map-get($font-weights, light);
			a {
				text-decoration: none;
				border-bottom: 1px solid;
			}
		}//ul
		.main-nav {
			margin-left: span(1);
			li {
				font-size: map-get($font-sizes, medium);
				line-height: 1.5em;
			}//li
		}//.main-nav
		.nav-social {
			@include set-font-size(smaller);
			margin-top: rhythm(6);
			@include breakpoint($large-phone) {
				@include set-font-size(smaller, $small-font-sizes);
				margin-top: rhythm(20);
			}
			
		}//.nav-social
	}

	.engineer {
		nav {
			background-color: $engineer-nav-background;
		}
	}

	main {
		margin-bottom: rhythm(10);
		h1 {
			@include set-font-size(huge-2);
			font-weight: map-get($font-weights, semibold);
			@include breakpoint($iphone5) {
				@include set-font-size(huge-3);
			}
			@include breakpoint($large-phone) {
				@include set-font-size(huge-6, $small-font-sizes);
			}
			font-family: $base-font-family;
			margin-top: rhythm(1);
		}//h1
		ul {
			list-style: disc;
			margin-top: rhythm(2);
			@include set-font-size(normal);
			@include breakpoint($large-phone) {
				@include set-font-size(normal, $small-font-sizes);
			}
		}//ul
	}//main

	header {
		padding-top: rhythm(0);
	}

	.home-main {
		h1 {
			color: map-get($home-color, normal);
			@include breakpoint ($max-text-width + 200px) {
				margin-left: calc(50% - (#{$max-text-width}/2 + #{span(1)}));
			}//media query
		}//h1
		article:first-of-type {
			margin-top: rhythm(4);
			@include breakpoint ($large-phone) {
				margin-top: rhythm(6);
			}//breakpoint
		}//article
	}//.home-main

	.engineer-main {
		h1 {
			color: map-get($engineer-color, normal);
			text-transform: uppercase;
		}//h1
		article, section {
			margin-top: rhythm(6);
			@include breakpoint($laptop) {
				margin-top: rhythm(9);
			}
		}//article, section
	}//.engineer-main

	header {
		p {
			font-family: $secondary-font-family;
			@include set-font-size(medium);
			@include breakpoint($large-phone) {
				@include set-font-size(medium, $small-font-sizes);
			}
			font-weight: map-get($font-weights, light);
			margin-top: rhythm(1);
			@include breakpoint($large-phone) {
				@include set-font-size(extra-large);
			}
		}
	}

	h2 {
		text-transform: uppercase;
		color: map-get($engineer-color, darker);
		@include set-font-size(medium);
		@include breakpoint($large-phone) {
			@include set-font-size(medium, $small-font-sizes);
		}
		font-weight: map-get($font-weights, semibold);
		@include breakpoint ($large-phone) {
			@include set-font-size(large);
		}
	}

	h3 {
		@include set-font-size(normal);
		@include breakpoint($large-phone) {
			@include set-font-size(normal, $small-font-sizes);
		}
		text-transform: capitalize;
		margin-top: rhythm(1);	
		color: $text-color;
	}

	.project-budget {
		&::before {
			content: " \2013  ";
		}
	}

	h4 {
		@include set-font-size(normal);
		margin-top: rhythm(1);
		.project-position {
			display: inline;
			&::before {
				content: " \2013  ";
			}//:before
		}//project-position
	}//h4

	.project-data {
		@include set-font-size(smaller);
		@include breakpoint($large-phone) {
			@include set-font-size(smaller, $small-font-sizes);
		}
		color: $text-color;
		&::before {
			content: '\00a0 \00a0 \00a0 \00a0';
		}//:before
	}//.project-data

	h5 {
		text-transform: uppercase;
		color: map-get($engineer-color, darker);
		@include set-font-size(small);
		@include breakpoint($large-phone) {
			@include set-font-size(small, $small-font-sizes);
		}
		margin-top: rhythm(3);
		font-weight: map-get($font-weights, semibold);
		@include breakpoint($large-phone) {
			@include set-font-size(normal);
		}
	}//h5

	p {
		@include set-font-size(normal);
		@include breakpoint($large-phone) {
			@include set-font-size(normal, $small-font-sizes);
		}
		margin-top: rhythm(2);
	}
	
	/**** Home post singe page view DROP CAPS ****/
	.drop-cap:first-letter {
		font-size: map-get($font-sizes, huge-3);
		color: map-get($home-color, normal);
		float: left;
		line-height: 0.45em;
		padding-right: 0.15em;
		padding-top: 0.31em;
		@include breakpoint($iphone5) {
			font-size: map-get($font-sizes, huge-5);
		}
		@include breakpoint($large-phone) {
			@include set-font-size(huge-6, $small-font-sizes);
			font-weight: map-get($font-weights, semibold);
			line-height: 0.5em;
			padding-right: 0.15em;
			padding-top: 0.26em;
		}
	}
	
	.no-js, .wf-inactive {
		.drop-cap:first-letter {
			padding-top: 0.19em;
		}
	}
	

	figcaption {
		font-family: $secondary-font-family;
		@include set-font-size(tiny);
		@include breakpoint($large-phone) {
			@include set-font-size(tiny, $small-font-sizes);
		}
		color: lighten($text-color, 20%);
		margin-top: rhythm(-1);
	}

	//Link styles. Sets link colors and includes a Medium style underline function
	a {
		color: $link-color;
		text-decoration: underline;
		transition: color 0.4s ease;
		&:hover, &:focus {
			color: $link-hover-color;
		}//:hover, :focus
		&:active {
			color: $link-active-color;
		}//:active
	}//a
	
	//<em> styles: italics
	
	em {
		font-style: italic;
	}
	
	
/********* 	
END TYPOGRAPHIC STYLES AND VERTICAL RHYTHMS OF MAJOR PAGE COMPONENTS
*********/

/********* 
BLOCKQUOTES
*********/

	//define smart quotes for quotes and blockquotes
	q, blockquote {
	    quotes: "\201C" "\201D" "\2018" "\2019";
	}
	
	//blockquote styles
	blockquote {
		border-left: 2px solid lighten($text-color, 75%);
		margin-top: rhythm(4);
		padding-left: 2*$body-padding;
		color: lighten($text-color, 30%);
	}
	
	//open a blockquote using smart double quotes
	blockquote>:first-child:before {
		content: open-quote;
		color: map-get($home-color, normal);
		@include set-font-size(normal);
		@include breakpoint($large-phone) {
			@include set-font-size(large, $small-font-sizes);
		}
	}
	
	//close a blockquote with smart double quotes
	blockquote>:last-child:not(ul):after, blockquote>:last-child:not(ol):after, 
	blockquote>ul:last-child>li:last-child:after, blockquote>ol:last-child>li:last-child:after {
	    content: close-quote;
		@include set-font-size(normal);
		@include breakpoint($large-phone) {
			@include set-font-size(large, $small-font-sizes);
		}
		color: map-get($home-color, normal);
	}

/********* 
END BLOCKQUOTES
*********/


/********* 
Styles for READ MORE section and read more buttons
*********/

	.read-more {
		background-color: $read-more-background-color;
		margin-top: rhythm(4);
		padding: rhythm(2) 1*$body-padding rhythm(5) 1*$body-padding;
		h5 {
			@include breakpoint($large-phone) {
				@include set-font-size(small);
			}//breakpoint
		}//h5
		p {
			@include set-font-size(small);
			@include breakpoint($large-phone) {
				@include set-font-size(small, $small-font-sizes);
			}
		}//p
	}//.read-more

	.read-more-button {
		width: $read-more-button-width;
		margin-top: rhythm(3);
		@include button-color($background-color: $read-more-background-color,
								$color: map-get($engineer-color, darker));
	}

/********* 
PLACEHOLDER SELECTORS
*********/

	//%nav-color establishes font color and link styles inside nav

	%nav-color {
		color: set-text-color($home-nav-background);
		a {
			color: inherit;
			text-decoration: underline;
			&:hover, &:focus {
				color: darken(set-text-color($home-nav-background), 10%);
			}//:hover, :focus
			&:active {
				color: darken(set-text-color($home-nav-background), 20%);
			}//:active
		}//a
	}//nav-color

	//button-typography

	%button-typography {
		font-family: $secondary-font-family;
		@include set-font-size(small);
		@include breakpoint($large-phone) {
			@include set-font-size(small, $small-font-sizes);
		}
		font-weight: map-get($font-weights, normal);
	}



