/********* 
IMPORT ESTABLISH BASELINE MIXIN from Compass 
to establish vertical rhythm
*********/

	@include establish-baseline;

/********* 
TYPOGRAPHIC STYLES AND VERTICAL RHYTHMS OF MAJOR PAGE COMPONENTS
*********/

	body {
	    font-size: $base-font-size;
		font-family: $base-font-family;
		@include adjust-leading-to(3);
		color: $text-color;
	}

	nav {
		@extend %nav-color;
		ul {
			font-family: $secondary-font-family;
			font-weight: map-get($font-weights, light);
		}//ul
		.main-nav {
			margin-left: span(1);
			li {
				@include set-font-size(medium);
			}//li
		}//.main-nav
		.nav-social {
			@include set-font-size(smaller);
			margin-top: rhythm(20);
		}//.nav-social
	}

	.engineer {
		nav {
			background-color: $engineer-nav-background;
		}
	}

	main {
		margin-bottom: rhythm(10);
		h1 {
		@include set-font-size(huge-2);
		font-family: $base-font-family;
		margin-top: rhythm(1);
			@include breakpoint ($large-phone) {
				@include set-font-size(huge-4);
			}//media query
		}//h1
		ul {
			list-style: disc;
			margin-top: rhythm(2);
			li {
				margin-top: rhythm(2);
			}//li
		}//ul
	}//main

	header {
		padding-top: rhythm(0);
	}

	.home-main {
		h1 {
			color: map-get($home-color, normal);
			@include breakpoint ($max-text-width + 200px) {
				margin-left: calc(50% - (#{$max-text-width}/2 + #{span(1)}));
			}//media query
		}//h1
		article:first-of-type {
			margin-top: rhythm(4);
			@include breakpoint ($large-phone) {
				margin-top: rhythm(6);
			}//breakpoint
		}//article
	}//.home-main

	.engineer-main {
		h1 {
			color: map-get($engineer-color, normal);
			text-transform: uppercase;
		}//h1
		article, section {
			margin-top: rhythm(6);
			@include breakpoint($laptop) {
				margin-top: rhythm(9);
			}
		}//article, section
	}//.engineer-main

	header {
		p {
			font-family: $secondary-font-family;
			@include set-font-size(medium);
			font-weight: map-get($font-weights, light);
			margin-top: rhythm(1);
			@include breakpoint($large-phone) {
				@include set-font-size(extra-large);
			}
		}
	}

	h2 {
		text-transform: uppercase;
		color: map-get($engineer-color, darker);
		@include set-font-size(medium);
		font-weight: map-get($font-weights, semibold);
		@include breakpoint ($large-phone) {
			@include set-font-size(large);
		}
	}

	h3 {
		@include set-font-size(normal);
		text-transform: capitalize;
		margin-top: rhythm(1);	
		color: $text-color;
	}

	.project-budget {
		&::before {
			content: " \2013  ";
		}
	}

	h4 {
		@include set-font-size(normal);
		margin-top: rhythm(1);
		.project-position {
			display: inline;
			&::before {
				content: " \2013  ";
			}//:before
		}//project-position
	}//h4

	.project-data {
		@include set-font-size(smaller);
		color: $text-color;
		&::before {
			content: '\00a0 \00a0 \00a0 \00a0';
		}//:before
	}//.project-data

	h5 {
		text-transform: uppercase;
		color: map-get($engineer-color, darker);
		@include set-font-size(small);
		margin-top: rhythm(3);
		font-weight: map-get($font-weights, semibold);
		@include breakpoint($large-phone) {
			@include set-font-size(normal);
		}
	}//h5

	p {
		@include set-font-size(normal);
		margin-top: rhythm(2);
	}
	

	span.drop-cap {
		font-size: map-get($font-sizes, huge-6);
		line-height: 0.5em;
		color: map-get($home-color, normal);
		float: left;
		padding-right: 0.15em;
		padding-top: 0.19em;
	}

	figcaption {
		font-family: $secondary-font-family;
		@include set-font-size(tiny);
		color: lighten($text-color, 20%);
		margin-top: rhythm(-1);
	}

	//Link Styles. Sets link colors and includes a Medium style underline function

	a {
		color: $link-color;
		text-decoration: none;
		@include underline($background-color, $link-color, true, 1, 1.3);
		transition: color 0.4s ease;
		&:hover, &:focus {
			color: $link-hover-color;
		}//:hover, :focus
		&:active {
			color: $link-active-color;
		}//:active
	}//a
	
/********* 	
END TYPOGRAPHIC STYLES AND VERTICAL RHYTHMS OF MAJOR PAGE COMPONENTS
*********/

/********* 
Styles for READ MORE section and read more buttons
*********/

	.read-more {
		background-color: $read-more-background-color;
		margin-top: rhythm(4);
		padding: rhythm(2) 2*$body-padding rhythm(5) 2*$body-padding;
		a {
			@include underline( $read-more-background-color, $link-color, true, 1, 1.3);
		}//a
		h5 {
			@include breakpoint($large-phone) {
				@include set-font-size(small);
			}//breakpoint
		}//h5
		p {
			@include set-font-size(small);
		}//p
	}//.read-more

	.read-more-button {
		width: $read-more-button-width;
		margin-top: rhythm(3);
		@include button-color($background-color: $read-more-background-color,
								$color: map-get($engineer-color, darker));
	}

/********* 
PLACEHOLDER SELECTORS
*********/

	//%nav-color establishes font color and link styles inside nav

	%nav-color {
		color: set-text-color($home-nav-background);
		a {
			color: inherit;
			@include underline($home-nav-background, $alt-text-color, true, 1.2, 0.8);
			&:hover, &:focus {
				color: darken(set-text-color($home-nav-background), 10%);
			}//:hover, :focus
			&:active {
				color: darken(set-text-color($home-nav-background), 20%);
			}//:active
		}//a
	}//nav-color

	//button-typography

	%button-typography {
		font-family: $secondary-font-family;
		@include set-font-size(small);
		font-weight: map-get($font-weights, normal);
	}



