/*
 * HTML5 Boilerplate
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visually-hidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hidden {
	display: none;
}

.js {
	.js-hidden {
		display: none;
	}//js-hidden: hide if modernizr detects javascript
}

.pointer {
	cursor: pointer;
}