---
layout: default
category: engineer
title: Advanced Water Treatment Facility
description: "Groundwater Replenishment System: Advanced Water Treatment Facility"
description_url: http://www.gwrsystem.com/
position: Mechanical Engineer
customer: Orange County Water District
customer_url: http://www.ocwd.com/
budget: "$300M"
start_year: "2004"
end_year: "2008"
text-align: left
img-align: right

---

		{% include engineer_project_heading.html %}
	
			<h5>Project Description:</h5>
			<p>The scope of this project was to build an Advanced Water Treatment Facility that would take in secondary effluent from an adjacent wastewater treatment plant and subject it to a purification process through the use of microfiltration, reverse osmosis and disinfection with ultraviolet light. This facility is now in operation and treats 70 million gallons of water per day, which are then used to recharge the aquifer and create a seawater intrusion barrier.</p>
			<h5>My Role</h5>
			<p>Mechanical Engineer assigned to the <a href="http://www.gwrsystem.com/index.php?option=com_content&view=article&id=15&Itemid=37" >reverse osmosis</a>, <a href="http://www.gwrsystem.com/index.php?option=com_content&view=article&id=16&Itemid=38">ultraviolet light</a> and decarbonation processes. I reviewed submittals and procured materials and equipment, participated in preparation of work plans, and supervised field installation. Once field installation was complete, I transitioned into commissioning and became part of the team that successfully started-up the facility.</p>
		</div><!-- .text-container -->
		<figure class="{% if page.img-align %}{{ page.img-align }}-resp{% endif %}">
			<img
		srcset="{{ "/images/awtf-huge.jpg" | prepend: site.baseurl }}  2000w,
				{{ "/images/awtf-large.jpg" | prepend: site.baseurl }}  1200w, 
		        {{ "/images/awtf-medium.jpg" | prepend: site.baseurl }}  800w,
		        {{ "/images/awtf-small.jpg" | prepend: site.baseurl }}   600w"
		sizes="100%"
		src="{{ "/images/awtf-medium.jpg" | prepend: site.baseurl }}"
		alt="Advanced Water Treatment Facility Reverse Osmosis Facility. View of Reverse Osmosis Unit" />
			<figcaption>Advanced Water Treatment Facility: Reverse osmosis unit</figcaption>
		</figure>
	</div><!-- clearfix -->
	<div style="clear: both;"></div>
	<button class="read-more-button hidden" data-alt-text="Read less">Read more</button>
	<div class="read-more js-hidden">
		<h5>The Best Parts</h5>
		<p>This was a terrific project to get my career at J.F.Shea started. It involved state-of-the-art technology, it was our largest job at the time, and gave me an incredible opportunity to learn. I was involved with a great number of different pieces of equipment and materials, from the Reverse Osmosis 1,000 <abbr title="horse power">HP</abbr> <abbr title="Variable Frequncy Drive">VFD</abbr> driven pumps, to the <abbr title="Ultraviolet Light">UV</abbr> units, the <abbr title="Fiberglass Reinforced Plastic">FRP</abbr> decarbonation tanks, the Foundation Fieldbus enabled electrical valve actuators, electropolished 316 stainless steel piping, etc. Most importantly, I interacted with a good number of highly experienced, bright people and soaked as much knowledge from them as I could. As a bonus, this job got a big deal of <a href="http://www.gwrsystem.com/index.php?option=com_content&view=article&id=257&Itemid=84">national attention</a>, which made it even more exciting!</p>
		<h5>The Challenges</h5>
		<p>I was fresh off the boat when I started this job with J.F.Shea, so one of my main challenges early on was getting used to working in a new language. Sure I had studied English, and I had scored very high in my <abbr title="Test of English as a Foreign Language">TOEFL</abbr>, of course I had taken college classes in English, but what the heck was a valve diaphragm, and what does it mean when people say 10-4 to each other, or when they ask me where my twenty is? They don't teach those things in school.<p> 
		<p>Adapting to a new culture was also difficult at first. People here, especially in construction, are more of the straight shooter, sometimes rough around the edges kind, whereas in Spain we are more of the hand-holding type. But I realized quickly that this was a swim-or-sink, get-it-done environment, so I jumped right in. I made some mistakes, learned some lessons from them, and also must have gotten a few things right.</p>
	</div>
