---
layout: default
category: engineer
title: Headworks Replacement
description: "P2-66 Plant No. 2 Headworks Replacement Project"
description_url: http://www.asceoc.org/awards/nominee-details/project_award_nominee_submission30/2013
position: Mechanical Engineer
customer: Orange County Sanitation District
customer_url: http://www.ocsd.com/
budget: "$200M"
start_year: "2008"
end_year: "2011"
text-align: right
img-align: left

---

		{% include engineer_project_heading.html %}
	
			<h5>Project Description:</h5>
			<p>This project provided a new headworks facility for OCSD Plant No. 2, which replaced a 40-year-old outdated installation. The new headworks is capable of processing a design peak flow of 340 million gallons per day of raw sewage. The facility consists of 14 process structures, including among others a bar screen, screenings washings and loading facility, an influent pump station, grit basins and handling facilities and a new odor control system, which included the largest biological treatment facility of its kind in the country.</p>
			<h5>My Role</h5>
			<p>I came to this job in May of 2008, approximately three years after it started. When I got there, the concrete structures were mostly built, and the mechanical installation was well underway. I became responsible for the odor control system. I finished the installation, and then commissioned, started-up, operated and maintained the system until beneficial occupancy.</p>
		</div><!-- .text-container -->
		<figure class="{% if page.img-align %}{{ page.img-align }}-resp{% endif %}">
			<img
		srcset="{{ "/images/headworks-huge.jpg" | prepend: site.baseurl }}  2000w,
				{{ "/images/headworks-large.jpg" | prepend: site.baseurl }}  1200w, 
		        {{ "/images/headworks-medium.jpg" | prepend: site.baseurl }}  800w,
		        {{ "/images/headworks-small.jpg" | prepend: site.baseurl }}   600w"
		sizes="100%"
		src="{{ "/images/headworks-medium.jpg" | prepend: site.baseurl }}"
		alt="View of Headworks Replacement Project Bar Screen and Screenings Loading Facility illuminated at night" />
			<figcaption>Headworks Replacement Project: screenings loading, bar screen and headworks odor control facilities</figcaption>
		</figure>
	</div><!-- clearfix -->
	<button class="read-more-button hidden" data-alt-text="Read less">Read more</button>
	<div class="read-more js-hidden">
		<h5>The Best Parts</h5>
		<p>Thanks to the Headworks project I got to learn a completely new technology. My job there became a crash course on all things odor control, of which I knew nothing before the job started. I quickly had to learn all about biological and chemical odor treatment, fan mechanics and vibrations, instrumentation, control systems, etc.</p>
		<p>Also, and perhaps more importantly, this project gave me an opportunity to learn how to overcome an entirely new set of difficulties. It may not have seemed to me like such a good thing at the time, but looking back on it, the setbacks that we suffered in this job helped me become more resilient. Read below for more information.</p>
		<h5>The Challenges</h5>
		<p>One word: fans. In particular, the biotower and the scrubber fiberglass centrifugal fans. A total of 24 of them, which experienced many different problems. Too many times I felt like we had fixed them for good, only to see a new problem creep up.</p> 
		<p>These fans were already installed when I got to the job site. After a while, it was determined that they were not painted correctly, and the owner requested that they be sandblasted and repainted. So we took them apart, repainted the frames, put them back together, and re-installed them. All done on site.<p> 
		<p>They also experienced several vibration issues. Some had out-of-spec vibrations that could be fixed through balancing. Others, the variable frequency driven biotower fans in particular, experienced natural frequency peaks that could not simply be addressed by balancing. A joint team of vibration experts, assembled between our customers and ourselves, got together to analyze the problem and find the most appropriate solution. It was determined that the fan mounting should be changed to softer durometer bearing pads</p>
		<p>After all this, when all 24 fans had been changed to the new mounting and finely balanced, we started to slowly lose fan outboard bearings. After the second or third bearing, it became obvious that this was a system wide issue. The manufacturer, with our assistance, changed the bearing type from a single set screw to an eccentric load type. Three shafts and fan wheels had to be replaced too. After this, with all fans running, I left the job.</p>
		<p>But, of course, it didn't end there. I received a phone call a couple of months later. The new bearings had failed again! And they were failing at a faster rate too. I didn't participate directly in this last repair, even though I still felt ownership and tried to help as much as I could. We ended up replacing all the eccentric bearings to a double set screw configuration, and that seems to have been the ticket. The fans have been running, to my knowledge, mostly trouble-free ever since.</p>
		<p>I will confess: these fans tested my patience. At some point I wanted to give up. After the single set screw bearings failed, I asked for a new assignment. I did not want to fix them again, and, frankly, felt like I may have been part of the problem. My colleagues tell me I wasn't, but I am sure I made some mistakes. I ended up not getting a new assignment, and replacing the single set screw bearings. But eventually it all got resolved, and I am happy that it did.</p>
	</div>